<div class="content">
  <div class="left-side">
    <app-auction-form (bidderAdded)="onBidderAdded($event)"></app-auction-form>
    <app-auction-list [bidders]="bidders"></app-auction-list>
  </div>

  <div class="divider" role="separator" aria-label="Divider"></div>

  <div class="right-side">
    <div class="pill-group">
      <div>
        <label for="reservePrice" class="reserve-price-label">Prix de réserve : </label>
        <input type="number" id="reservePrice" min="0" class="reserve-price-input"
               [(ngModel)]="reservePrice" name="reservePrice" required>
      </div>

      <button class="pill" (click)="calculateAuctionWinner(bidders)">Calculer enchère</button>

      <div *ngIf="result.winningPrice != 0">
        <p>Gagnant : <span class="text-content">{{result.winner}}</span></p>
        <p>Montant de l'enchère gagnante : <span class="text-content">{{result.winningPrice}} € </span></p>
      </div>

      <div *ngIf="result.winningPrice == 0">
        <p>Aucun Gagnant pour cette enchère. </p>
      </div>
    </div>

  </div>
</div>
