<div *ngIf="bidders.length != 0">
  <h3>Liste des enchérisseurs</h3>

  <table mat-table [dataSource]="bidders" class="mat-elevation-z8">

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom de l'enchérisseur </th>
      <td mat-cell *matCellDef="let bidder"> {{ bidder.name }} </td>
    </ng-container>

    <ng-container matColumnDef="montant">
      <th mat-header-cell *matHeaderCellDef> Montant des enchères </th>
      <td mat-cell *matCellDef="let bidder"> {{bidder.bids.join(' €, ')}} €</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div *ngIf="bidders.length == 0" class="text-content">
  Il n'existe pas d'enchérisseur pour le moment, veuillez en créer un.
</div>
